<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tk.rabidbeaver.mcucontroller">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MCUMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".RadioReceiver" >
            <intent-filter>
                <action android:name="tk.rabidbeaver.radiocontroller.POWER_ON"/>
                <action android:name="tk.rabidbeaver.radiocontroller.POWER_OFF"/>
                <action android:name="tk.rabidbeaver.radiocontroller.SEEK_UP"/>
                <action android:name="tk.rabidbeaver.radiocontroller.SEEK_DOWN"/>
                <action android:name="tk.rabidbeaver.radiocontroller.TUNE_UP"/>
                <action android:name="tk.rabidbeaver.radiocontroller.TUNE_DOWN"/>
                <action android:name="tk.rabidbeaver.radiocontroller.TUNE"/>
                <action android:name="tk.rabidbeaver.radiocontroller.BAND"/>
                <action android:name="tk.rabidbeaver.radiocontroller.RDS_ON"/>
                <action android:name="tk.rabidbeaver.radiocontroller.AREA"/>
                <action android:name="tk.rabidbeaver.radiocontroller.AUTOSENS_ON"/>
                <action android:name="tk.rabidbeaver.radiocontroller.AUTOSENS_OFF"/>
                <action android:name="tk.rabidbeaver.radiocontroller.STEREO"/>
                <action android:name="tk.rabidbeaver.radiocontroller.LOC"/>
                <action android:name="tk.rabidbeaver.radiocontroller.CHANNEL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".SWIReceiver" >
            <intent-filter>
                <action android:name="tk.rabidbeaver.swicontroller.DETECT"/>
                <action android:name="tk.rabidbeaver.swicontroller.CLEAR"/>
                <action android:name="tk.rabidbeaver.swicontroller.SAVE"/>
                <action android:name="tk.rabidbeaver.swicontroller.ADCKEY"/>
                <action android:name="tk.rabidbeaver.swicontroller.MCUKEYCONTROL"/>
                <action android:name="tk.rabidbeaver.swicontroller.MCUKEY"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".MainReceiver" >
            <intent-filter>
                <action android:name="tk.rabidbeaver.maincontroller.MCU_SWITCH"/>
                <action android:name="tk.rabidbeaver.maincontroller.MCU_STANDBY_SWITCH"/>
            </intent-filter>
        </receiver>
        <service android:name=".MCUService" />
    </application>

</manifest>